* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@font-face {
    font-family: 'inter-bold';
    src: url('../fonts/static/Inter-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'inter-regular';
    src: url('../fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'inter-semibold';
    src: url('../fonts/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}